/* #header input{
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
} */

#header {
  display:flex;
  justify-content:center;
  align-items: center;
  padding-top: 15%;
}

.recipeContainer {
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
  
}


.recipe {
  text-align: center;
  margin: 15px;
}